.ticket_interface .row{
    padding: 0 10px;
}

.a_seat {
    border-radius: 5px;
    cursor: pointer;
}

.col {
    margin: 5px 1px;
    padding: 0.5rem 0;
    text-align: center;
}

.selected{
    background: black;
    color: white;
}

.kallyanpur {
    color: white;
    background: orange;
}

.shyamoli{
    color: white;
    background: red;
}

.available {
    color: White;
    background: green;
}

.ticket_point {
    letter-spacing: 3px;
    color: #fff;
}

.ticket_details p {
    color: #fff;
    letter-spacing: 3px;
}

.ticket_count p {
    color: #fff;
    letter-spacing: 3px;
}

.status_color{
    color: #fff;
    border-radius: 5px;
    letter-spacing: 3px;
}

.avialable_seat{
    background: green;
}

.selected_seat{
    background: #000;
}

.shyamoli_seat{
    background: red;
}
.kallyanpur_seat{
    background: orange;
}

.seat_status {
    margin-bottom: 2rem;
}