/* .navbar {
    padding-top: 1rem;
}

.logo {
    display: flex;
    color: red;
    font-size: 1.25rem;
    letter-spacing: 5px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
}

.plus {
    font-size: 1.5rem;
    padding-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    color: red;
}

.logo:hover .plus {
    transform: rotate(360deg);
}

.logo:hover {
    color: red;
}

.menu {
    font-size: 0.8rem;
    letter-spacing: 5px;
    color: red;
    border: none;
    cursor: pointer;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 0.8rem;
    }

    .plus {
        font-size: 0.9rem;
    }

    .menu {
        font-size: 0.6rem;
    }
}

.offcanvas-header {
    display: flex;
    justify-content: end;
}

.navbar-nav {
    padding-top: 5rem;
}

.nav-item {
    padding-top: 15px;
}

.nav-item a {
    color: #000;
}

.dropdown {
    padding-top: 5rem;
}

.dropdown li {
    cursor: pointer;
} */




.navbar {
    color: #fff;
    padding-top: 15px;
    background: #0f172a;
    border-bottom: 1px solid #16223d;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: 5px;
    color: #fff;
    text-decoration: none;
}

.logo:hover {
    color: #fff;
}

.navbar-nav {
    display: flex;
}

.nav_menu{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 5px 10px;
}

.nav_menu:hover{
    color: #000;
    background: #fff;
    border-radius: 5px;
}

.buttons{
    align-items: center;
    display: flex;
    gap: 10px;
}

.btn {
    letter-spacing: 3px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar_menu{
    color: #fff;
    letter-spacing: 3px;
    font-size: 0.8rem;
}
