.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10rem;
    border-right: 1px solid #1e293b;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}

.sidebar a:hover {
    text-decoration: underline;
    color: aqua;
}