.searchTicket {
   
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 2px;
}

.search__type {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search__type label {
    padding: 0 5px;
}

.search__type input {
    cursor: pointer;
    background: none;
}

.warning {
    text-align: center;
    padding-top: 2rem;
    color: red;
    letter-spacing: 2px;
}

.form-label, label {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-select {
    letter-spacing: 1px;
}
