.search_result {
    background: #f5f5f5;
}

.desire_buses {
    margin-bottom: 5rem;
}

.bus {
    margin-bottom: 1rem;
}

.bus_data {
    text-align: center;
}

.ticket_ui {
    padding-top: 2rem;
}

.ticket_details {
    display: flex;
    justify-content: space-between;
}

.seat_status {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

.ticket_count {
    text-align: center;
    font-size: 0.9rem;
}

.search_message {
    text-align: center;
    letter-spacing: 5px;
    color: red;
}

.bus_data {
    letter-spacing: 5px;
}

tr {
    color: #fff;
    letter-spacing: 3px;
}

.search_bus_content {
    display: flex;
    align-items: center;
}

.search_bus_info {
    color: #fff;
    letter-spacing: 3px;
}