.input_box {
    background: transparent;
    color: #fff;
}

.input_box:focus {
    background: transparent;
    color: #fff;
}

form select {
    background: transparent;
}

.error_message {
    color: #fff;
    opacity: 0.4;
}

.page_route {
    color: #fff;
}

.change_page{
    color: aqua;
    padding-left: 1rem;
}

.change_page:hover{
    color: aqua;
}
