/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.section_design {
    height: 100vh;
    padding: 10rem 0;
}

.section_title {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 10px;
}

label {
    padding-top: 1rem;
}

@media screen and (max-width: 600px) {
    .section_design {
        padding: 3rem 0;
    }

    .section_title {
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 4rem;
    }
}

.change_page {
    padding-left: 5px;
    color: red;
}

.change_page:hover {
    color: red;
    text-decoration: underline;
}

.verifi {
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.register_button,
.login_button {
    padding: 5px 40px;
    font-size: 0.9rem;
    letter-spacing: 5px;
    background: #fff;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    text-transform: uppercase;
    border: 1px solid #dbdada;
    color: #000;
    cursor: pointer;
    margin-right: 30px;
}

.register_button:hover,
.login_button:hover {
    background: #dbdada;
    color: #000;
}

.error_message {
    padding-top: 5px;
    color: red;
    font-size: 0.8rem;
}

.page_route {
    margin-top: 10px;
    font-size: 0.9rem;
}

.form-check-label {
    font-size: 0.8rem;
}


._button {
    margin-top: 1rem;
    padding: 5px 50px;
    border: 1px solid #d3d3d3;
    background: none;
    color: #000;
    border-radius: 5px;
    letter-spacing: 2px;
}

._button2 {
    margin-top: 1rem;
    padding: 9px 50px;
    border: 1px solid #d3d3d3;
    background: none;
    color: #000;
    border-radius: 5px;
    letter-spacing: 2px;
}

.continue_button{
    width: 100%;
}

.delete {
    color: red;
    cursor: pointer;
}

table {
    text-align: center;
}

.warning2 {
    color: red;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.allBus {
    background: #dcf4ff;
} */
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
    font-family: 'Mina', sans-serif;
}

.section{
    min-height: 100vh;
    padding: 5rem 0;
    background: #0f172a;
}

.highlight {
    color: orange;
}

.section_title{
    text-align: center;
    padding: 2rem 0;
    color: #fff;
    letter-spacing: 5px;
}

label {
    letter-spacing: 3px;
}

.error {
    color: red;
}